[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
isort = "*"
black = "*"
langchain = "*"
langchain-openai = "*"
python-dotenv = "*"
langchainhub = "*"
langchain-community = "*"
langchain-mongodb = "*"
pymongo = "*"
streamlit = "*"
streamlit-chat = "*"
streamlit-cookies-controller = "*"
langgraph = "*"
boto3 = "*"

[dev-packages]

[requires]
python_version = "3.11"
